@page
@model Individual_Sem2_Web.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutMain";
}
<div class="container-fluid py-5 ">
    <div class="row justify-content-center">
        <div class="col-lg-8 bg-dark " style="border-radius: 1rem;">
            <h2 class="mb-4">Your new password will be arriving in your email shortly!</h2>
        </div>
    </div>
</div>